@media (max-width: 1400px)
{
	.first-section__wrap
	{
		max-width: 540px;
	}


	.adventures
	{
		padding-top: 15px;
		padding-bottom: 75px;
	}

	.adventures__grid
	{
		column-gap: 80px;
	}

	.adventures__item
	{
		padding-top: 60px;
	}

	.adventures__name
	{
		font-size: 24px;
	}
    /*------------
		commit
	------------*/
	.price-list__title{
		font-size: 30px;
	}

	.price-list__table td{
		font-size: 18px;
		padding-top: 24px;
	}
}