@media (max-width: 1199px)
{
	.header
	{
		padding-bottom: 25px;
		font-size: 14px;
	}

	.header__top
	{
		gap: 0 10px;
	}

	.header__adres
	{
		padding-left: 20px;
	}

	.header__adres::after
	{
		top: 2px;
		width: 13px;
		height: 18px;
	}

	.header__time
	{
		padding-left: 26px;
	}

	.header__time::after
	{
		top: 2px;
		width: 18px;
		height: 18px;
	}

	.header__phone a
	{
		padding-left: 23px;
	}

	.header__phone a::after
	{
		width: 17px;
		height: 18px;
	}

	.header .main-socials-link + .main-socials-link 
	{
		margin-left: 10px;
	}

	.header__logo
	{
		max-width: 190px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 55px;
	}


	.first-section__img 
	{
		padding-top: 120px;
	}

	.first-section__wrap
	{
		max-width: 480px;
	}


	.services__box
	{
		padding: 25px 20px;
	}

	.services__name 
	{
		font-size: 22px;
	}


	.adventures__info
	{
		width: calc(100% - 80px);
	}

	.adventures__name
	{
		font-size: 21px;
	}

	.adventures__icon
	{
		width: 60px;
		height: 49px;
	}
    /*------------
		commit
	------------*/
	.section-form__wrap{
		padding-right: 350px;
		min-height: 400px;
	}

	.form__img {
		right: -50px;
		width: 400px;
		height: 356px;
	}


	.stages__item{
		padding: 25px;
		column-gap: 10px;
	}


	.price-list__title {
		font-size: 20px;
		margin-bottom: 16px;
	}

	.price-list__table th{
		font-size: 20px;
		padding-bottom: 16px;
	}

	.price-list__table td{
		font-size: 14px;
		padding-top: 16px;
	}
	.price-list__table td span{
		font-size: 14px;
	}

	.price-list__info{
		font-size: 14px;
	}


	.trimming__coll{
		padding: 50px 0;
	}


	.stages__number{
		font-size: 80px;
		min-width: 60px;
	}

	.stages__item_big .stages__number{
		min-width: 60px;
	}


	.about-service_nopad{
		padding: 50px 0;
	}

	.about-service__coll-width{
		width: 100%;
		order: 2;
		margin-top: 30px;
	}

	.about-service__colr_end{
		width: 100%;
		max-width: none;
		margin: 0;
	}

	.about-service__dog{
		width: 84%;
		max-width: 500px;
		margin: 0 auto;
	}


	.footer__contacts {
		width: 440px;
	}
}