@media (max-width: 1023px)
{
	.header
	{
		position: fixed;
		z-index: 101;
		top: 0;
		left: -220px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		overflow-y: auto;
		width: 220px;
		height: 100%;
		margin: 0;
		padding: 0;
		transition: left .3s linear;
	}

	.header._show 
	{
		left: 0;
	}

	.header-mob
	{
		display: block;
	}
	
	.mob-menu-link
	{
		position: relative;
		display: block;
		width: 44px;
		height: 36px;
		margin-right: -10px;
		margin-left: 10px;
		padding: 9px 10px;
		cursor: pointer;
		border: none;
		background: none;
	}

	.mob-menu-link span 
	{
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		transition: .2s linear;
		background: #D8B75A;
	}

	.mob-menu-link span + span 
	{
		margin-top: 6px;
	}

	.header .cont
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.header .cont:first-child
	{
		order: 2;
	}

	.header__top
	{
		gap: 0;
		flex-wrap: wrap;
	}

	.header__adres
	{
		width: 100%;
		order: 3;

		margin-top: 20px;
	}

	.header__time
	{
		width: 100%;
		order: 2;

		margin-top: 25px;
	}

	.header__time::after 
	{
		top: 3px;
		width: 16px;
		height: 16px;
	}

	.header__modal-btn
	{
		width: 100%;
		order: 5;
		margin-top: 20px;
	}

	.header__phone
	{
		width: 100%;
		order: 1;
	}

	.header__phone a::after 
	{
		width: 16px;
		height: 17px;
	}

	.header__socials-box
	{
		order: 4;
		margin-top: 40px;
	}

	.header__wrap
	{
		display: block;
		padding-bottom: 45px;
		margin-top: 15px;
	}

	.header__logo
	{
		display: none;
	}

	.header__info
	{
		padding-left: 0;
		padding-top: 0;
		margin-left: 0;
		width: 180px;
	}

	.nav-menu
	{
		display: block;
	}

	.nav-menu__item
	{
		font-size: 16px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 0;
		margin-top: 10px;
	}

	.nav-menu__item > a
	{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-menu__sub-link
	{
		position: relative;
	}

	.nav-menu__sub-link::after
	{
		position: absolute;
		content: '';
		top: 10px;
		right: 0;

		display: block;

		width: 8px;
		height: 12px;

		background: url(../images/ic_arrow_mob.svg) 50% no-repeat;
	}

	.nav-menu__sub-menu
	{
		left: 0;
		top: 0;
		width: 100%;
		position: static;
		opacity: 1;
		visibility: visible;
		display: none;
		transition: none;
		padding: 10px 0;
		pointer-events: all;

		font-size: 14px;
	}


	.nav-menu__item-mob .nav-menu__sub-link
	{	
		display: none;
	}

	.nav-menu__item-mob .nav-menu__sub-menu
	{
		display: block;
		padding: 0;
		font-size: 16px;
	}

	.nav-menu__item-mob .nav-menu__sub-menu a
	{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-menu__sub-menu div + div
	{
		margin-top: 10px;
	}


	.header__modal-sign
	{
		display: none;
	}

	.header__mob-sign
	{
		display: block;
		order: 7;
	}
    /*------------
		commit
	------------*/
	.breadcrumbs{
		padding: 20px 0;
	}

	.cont_slider{
		padding-left: 13px;
		padding-right: 13px;
	}

	.main-title {
		font-size: 24px;
	}

	.section-compare_pad{
		padding: 50px 0;
	}

	.section-compare__grid{
		margin-top: 26px;
		gap: 16px 0;
		margin-left: -16px;
	}

	.section-compare__item {
		width: calc(100% / 4 - 16px);
		border-radius: 10px;
		margin-left: 16px;
	}


	.main-gallery_pad{
		padding-bottom: 50px;
	}

	.main-gallery__slider{
		margin-top: 26px;
	}

	.main-gallery__flex{
		gap: 16px;
	}

	.main-gallery__img{
		border-radius: 10px;
	}

	.main-gallery__flex .main-gallery__img {
		width: calc(50% - 8px);
	}

	.section-map {
		height: 200px;
	}


	.section-top{
		padding: 50px 0;
	}

	
	.salon-manager{
		padding: 50px 0;
	}

	.salon-manager__cols{
		gap: 20px;
	}

	.salon-manager__photo{
		border-radius: 10px;
	}

	.salon-manager__colr {
		width: calc(45% - 20px);
	}


	body{
		font-size: 14px;
		line-height: 1.5;
	}


	.text-block p{
		margin-bottom: 20px;
	}


	.section-divider{
		height: auto;
		aspect-ratio: 1/.147;
	}


	.gallery-salon{
		padding: 50px 0;
	}

	.gallery-salon__photo{
		border-radius: 10px;
	}


	.gallery-salon__slider{
		margin-top: 26px;
	}


	.about{
		padding: 50px 0;
	}

	.about__coll {
    	width: calc(50% - 20px);
	}

	.about__colr{
		width: 50%;
	}

	.about__img{
		border-radius: 10px;
	}


	.section-faq{
		padding: 50px 0;
	}


	.section-faq__item + .section-faq__item{
		margin-top: 20px;
	}


	.text-block h1,
	.text-block .title
	{
		font-size: 24px;
	}

	.text-block h2
	{
		font-size: 18px;
		margin-bottom: 12px;
	}

	.small-title{
		font-size: 18px;
	}


	.form__line{
		margin-bottom: 20px;
	}

	.form__flex .form__line{
		width: 100%;
		max-width: none;
	}


	.our-visiters_pad{
		padding-bottom: 50px;
	}

	.our-visiters__grid {
		gap: 16px 0;
		margin-left: -16px;
	}

	.our-visiters__photo {
		margin-left: 16px;
		width: calc(100% / 4 - 16px);
		border-radius: 10px;
	}

	.our-visiters_marg{
		margin-top: -24px;
	}


	.error-page{
		padding: 50px 0;
	}

	.error-page__box{
		max-width: 520px;
		width: 76.4%;
		border-radius: 10px;
	}

	.error-page__title{
		font-size: 140px;
	}

	.error-page__desc{
		font-size: 18px;
	}

	.error-page__img{
		display: none;
	}


	.contacts_pad{
		padding-bottom: 50px;
	}

	.contacts_marg{
		margin-top: -30px;
	}

	.contacts__cols{
		gap: 20px;
	}

	.contacts__colr {
		width: calc(45% - 20px);
	}

	.contacts__img{
		border-radius: 10px;
	}

	.contacts__item + .contacts__item{
		margin-top: 20px;
	}

	.contacts__title{
		font-size: 18px;
		font-weight: 500;
		line-height: normal;
	}

	.contacts__text{
		font-size: 14px;
		margin-top: 6px;
	}

	.contacts .main-socials{
		margin-top: 20px;
	}

	.contacts .main-socials-link{
		width: 24px;
		height: 24px;
	}

	.contacts .main-socials-link + .main-socials-link{
		margin-left: 20px;
	}

	.contacts .main-socials-link._socials-prohibited:after {
		width: 10px;
		height: 10px;
		left: -10px;
		top: -5px;
	}


	.about-service{
		padding: 50px 0;
	}

	.about-service__img{
		border-radius: 10px;
	}

	.about-service__colr {
		width: calc(45% - 20px);
	}

	.about-service__btn{
		margin-top: 30px;
	}


	.stages_pad{
		padding: 50px 0;
	}

	.stages__items{
		margin-top: 26px;

		row-gap: 20px;
		border-radius: 10px;
	}

	.stages__item{
		width: calc(50% - 8px);
	}

	.stages__number {
		min-width: 45px;
		font-size: 60px;
	}

	.stages__title{
		font-size: 18px;
	}

	.stages__desc{
		margin-top: 20px;
	}


	.gallery-photo_pad{
		padding: 50px 0;
	}


	.gallery-photo__slider{
		margin-top: 26px;
	}


	.price-list_pad{
		padding: 50px 0;
	}


	.price-list__grid {
        margin-top: 26px;
        row-gap: 20px;
    }

	.price-list__grid .price-list__line {
		width: calc(100% / 2 - 30px);
	}

	.price-list__title{
		font-size: 18px;
	}

	.price-list__table{
		max-width: none;
	}

	.price-list__table td{
		padding-top: 12px;
	}


	.footer{
		padding: 30px 0;
	}

	.footer__logo{
		display: none;
	}

	.footer__logo_mob{
		display: block;
		width: 94px;
	}

	.footer__contacts-flex{
		flex-wrap: wrap;
		gap: 28px 16px;
		align-content: center;
		align-items: center;
	}

	.footer__contacts-items{
		width: 100%;
	}
}