@media (max-width: 479px)
{
	.btn-gold
	{
		line-height: 28px;
		font-size: 12px;
	}

	.header
	{
		font-size: 12px;
		width: 220px;
		left: -220px;
	}

	.close-menu 
	{
		left: 220px;
	}

	.header-mob .main-socials-link
	{
		width: 15px;
		height: 15px;
	}

	.header-mob .main-socials-link + .main-socials-link 
	{
		margin-left: 10px;
	}

	.header-mob .main-socials-link._socials-prohibited:after
	{
		width: 6px;
		height: 6px;
		left: -10px;
	}

	.header__phone a 
	{
		padding-left: 18px;
	}

	.header__phone a::after 
	{
		width: 11px;
		height: 12px;
	}

	.header__time 
	{
		padding-left: 18px;
		margin-top: 21px;
	}

	.header__time::after 
	{
		width: 12px;
		height: 12px;
	}

	.header__adres
	{
		margin-top: 19px;
		padding-left: 18px;
		line-height: normal;
	}

	.header__adres::after 
	{
		width: 10px;
		height: 14px;
	}

	.br-mob
	{
		display: block;
	}


	.header__socials-box
	{
		padding-left: 0;
		margin-top: 47px;
	}

	.header__socials-box .main-socials
	{
		margin-left: -15px;
	}

	.header__socials-box .main-socials-link + .main-socials-link
	{
		margin-left: 15px;
	}

	.main-socials-link._mob-none
	{
		display: none;
	}

	.main-socials-link._mob-show
	{
		display: flex;
	}


	.header__mob-sign
	{
		margin-top: 11px;
	}

	.header__mob-sign .btn-gold 
	{
		font-size: 12px;
		line-height: 28px;
		padding-left: 12px;
		padding-right: 12px;
	}


	.mob-menu-link
	{
		margin-left: 0;
	}


	.header__wrap
	{
		margin-top: 11px;
	}

	.header__info
	{
		width: 130px;
	}

	.nav-menu__item
	{
		font-size: 12px;
	}

	.nav-menu__sub-menu
	{
		font-size: 12px;
	}

	.nav-menu__item-mob .nav-menu__sub-menu div + div 
	{
		margin-top: 6px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-top: 6px;
	}

	.nav-menu__item-mob .nav-menu__sub-menu a
	{
		font-size: 12px;
	}


	.services__grid
	{
		display: block;
		margin-top: 0;
		margin-left: 0;
		padding: 0 30px;
	}

	.services__item 
	{
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
		border-radius: 5px;
	}

	.services__box
	{
		padding-top: 10px;
	}

	.services__name
	{
		font-size: 15px;
		font-weight: 400;
	}

	.services__go-service
	{
		text-align: center;
	}

	.services__go-service span 
	{
		font-size: 12px;
		line-height: 28px;
		padding: 0px 14px;
	}




	.section-discount__other-link
	{
		font-size: 16px;
	}


	.adventures__grid
	{
		columns: 1;
		padding-left: 30px;
		padding-right: 30px;
	}

	.adventures__icon 
	{
		width: 33px;
		height: 26px;
	}

	.adventures__desc
	{
		font-size: 14px;
		margin-top: 6px;
	}
    /*------------
		commit
	------------*/
	.slider-pagination{
		display: flex;
	}

	.section-compare .cont{
		padding-left: 5px;
		padding-right: 5px;
	}

	.section-compare .main-title{
		padding-left: 24px;
		padding-right: 24px;
	}

	.section-compare__grid {
		gap: 20px 0;
		margin-left: -10px;
	}

	.section-compare__item {
		width: calc(100% / 2 - 10px);
		border-radius: 5px;
		margin-left: 10px;
	}

	.main-gallery__img {
		border-radius: 5px;
	}


	.section-map{
		height: 120px;
	}


	body{
		font-size: 12px;
	}


	.gallery-salon__slider{
		margin-top: 21px;
	}


	.section-faq__item + .section-faq__item{
		margin-top: 10px;
	}

	.our-visiters .cont{
		padding-left: 5px;
		padding-right: 5px;
	}

	.our-visiters .main-title{
		padding-left: 24px;
		padding-right: 24px;
	}

	.our-visiters__grid {
		gap: 10px 0;
		margin-left: -10px;
	}

	.our-visiters__photo {
		margin-left: 10px;
		width: calc(100% / 2 - 10px);
	}


	.error-page__box{
		max-width: 260px;
	}


	.stages__item{
		padding: 0 23px;
		align-items: flex-start;
		align-content: flex-start;
	}

	.stages__number {
		min-width: 34px;
		font-size: 46px;
		line-height: normal;
		padding-bottom: 0;
	}

	.stages__box{
		padding: 12px 0 18px;
	}

	.stages__title{
		font-size: 16px;
	}

	.stages__desc{
		line-height: 1.3;
		font-weight: 500;
		margin-top: 16px;
	}

	.price-list__grid {
        margin-top: 15px;
        row-gap: 10px;
    }

	.price-list__title{
		font-size: 15px;
	}

	.price-list__table td{
		padding-top: 10px;
		font-size: 12px;
	}


	.footer__menu-item{
		font-size: 12px;
	}

	.footer__title{
		font-size: 12px;
	}

	.footer__adres{
		font-size: 12px;
	}

	.footer__contacts-item{
		font-size: 12px;
	}

	.footer__socials{
		width: 118px;
	}

	.footer__socials-desc{
		font-size: 10px;
	}

	.footer__socials .main-socials-link{
		width: 17px;
		height: 17px;
	}
}