@media (max-width: 1023px)
{
	
    /*------------
		commit
	------------*/
	.cont_slider{
		padding-left: 15px;
		padding-right: 15px;
	}

	.main-title {
		font-size: 24px;
	}

	.section-compare_pad{
		padding: 50px 0;
	}

	.section-compare__grid{
		margin-top: 26px;
		gap: 16px 0;
		margin-left: -16px;
	}

	.section-compare__item {
		width: calc(100% / 4 - 16px);
		border-radius: 10px;
		margin-left: 16px;
	}


	.main-gallery_pad{
		padding-bottom: 50px;
	}

	.main-gallery__slider{
		margin-top: 26px;
	}

	.main-gallery__flex{
		gap: 16px;
	}

	.main-gallery__img{
		border-radius: 10px;
	}

	.main-gallery__flex .main-gallery__img {
		width: calc(50% - 8px);
	}

	.section-map {
		height: 200px;
	}


	.footer{
		padding: 30px 0;
	}

	.footer__logo{
		display: none;
	}

	.footer__logo_mob{
		display: block;
		width: 94px;
	}

	.footer__contacts-flex{
		flex-wrap: wrap;
		gap: 28px 16px;
		align-content: center;
		align-items: center;
	}

	.footer__contacts-items{
		width: 100%;
	}
}