@media (max-width: 767px)
{
	
    /*------------
		commit
	------------*/
	.main-title {
		font-size: 18px;
	}

	.main-title span{
		display: block;
	}


	.slider-pagination{
		display: flex;
	}


	.section-compare_pad{
		padding: 30px 0;
	}

	.section-compare__item {
		width: calc(100% / 2 - 16px);
	}


	.main-gallery_pad{
		padding-bottom: 30px;
	}


	.section-map{
		height: 150px;
	}


	.section-top{
		padding: 21px 0;
	}

	
	.salon-manager{
		padding: 21px 0;
	}

	.salon-manager__cols{
		gap: 14px;
		justify-content: center;
	}

	.salon-manager__coll{
		width: 100%;
		max-width: none;
		order: 2;
	}

	.salon-manager__colr {
		width: 76.34%;
		max-width: none;
	}

	.salon-manager__photo{
		aspect-ratio: 1;
		border-radius: 5px;
	}


	.gallery-salon{
		padding: 21px 0;
	}

	.gallery-salon__photo{
		border-radius: 5px;
	}


	.about{
		padding: 0;
	}

	.about .cont{
		padding: 0;
	}

	.about__colr{
		position: relative;
		width: 100%;
		max-width: none;
		padding: 25px 0;
	}

	.about__img{
		width: 62.5%;
		border-radius: 5px;
		margin: 0 auto;
	}

	.about__coll{
		width: 100%;
		max-width: none;
		order: 2;
		padding: 14px 29px 17px;
    	background: url(../images/bg_1.jpg) top center / 100% auto repeat-y;
	}

	.about__bg img{
		object-position: 0 0;
	}


	.section-faq{
		padding: 21px 0;
	}


	.section-faq__item + .section-faq__item{
		margin-top: 16px;
	}


	.text-block h1,
	.text-block .title
	{
		font-size: 18px;
	}

	.text-block h2
	{
		font-size: 15px;
		margin-bottom: 10px;
	}


	.small-title{
		font-size: 15px;
	}


	.section-form__wrap{
		padding-right: 0;
		min-height: 1px;
		padding-bottom: 0;
	}

	.form__line{
		margin-bottom: 15px;
	}

	.form .form__input{
		font-size: 12px;
		padding-left: 12px;
		padding-right: 12px;
		height: 30px;
	}

	.form .form__textarea{
		font-size: 12px;
		padding: 9px 12px;
		height: 90px;
	}

	.form__bot{
		position: relative;
		padding-top: 35px;
		padding-bottom: 40px;
	}

	.form__bot .form__submit{
		text-align: left;
	}

	.form__img{
		width: 116px;
		height: 104px;
		right: 22px;
	}


	.our-visiters_pad{
		padding-bottom: 25px;
	}

	.our-visiters_marg{
		margin-top: -1px;
	}

	.our-visiters__photo {
		width: calc(100% / 3 - 16px);
	}

	.our-visiters__photo {
		border-radius: 5px;
	}


	.error-page{
		padding: 25px 0;
	}

	.error-page__box{
		border-radius: 5px;
	}

	.error-page__title{
		font-size: 60px;
	}

	.error-page__desc{
		font-size: 12px;
		margin-top: 0;
	}


	.contacts_pad{
		padding-bottom: 25px;
	}

	.contacts_marg{
		margin-top: 0;
	}

	.contacts__cols{
		gap: 17px;
		max-width: 76.34%;
		margin: 0 auto;
	}

	.contacts__colr {
		width: 100%;
		max-width: none;
	}

	.contacts__img{
		border-radius: 5px;
	}

	.contacts__coll{
		width: 100%;
		max-width: none;
		order: 2;
	}

	.contacts__item + .contacts__item{
		margin-top: 15px;
	}

	.contacts__title{
		font-size: 16px;
	}

	.contacts__text{
		font-size: 12px;
		margin-top: 0;
	}

	.contacts__title_center{
		text-align: center;
	}

	.contacts .main-socials{
		margin-top: 15px;
		justify-content: center;
	}

	.contacts .main-socials-link{
		width: 20px;
		height: 20px;
	}

	.contacts .main-socials-link + .main-socials-link{
		margin-left: 14px;
	}

	.contacts .main-socials-link._socials-prohibited:after {
		width: 6px;
		height: 6px;
		left: -6px;
		top: -3px;
	}


	.footer{
		padding-top: 14px;
	}

	.footer__menu-item{
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
	}

	.footer__menu-item + .footer__menu-item{
		margin-top: 16px;
	}

	.footer__contacts{
		width: 100%;
	}

	.footer__title{
		font-size: 16px;
		font-weight: 500;
	}

	.footer__adres{
		font-size: 16px;
	}

	.footer__contacts-item{
		font-size: 16px;
		line-height: normal;
	}

	.footer__contacts-item a{
		padding-left: 23px;
	}

	.footer__contacts-phone::before,
	.footer__contacts-mail::before{
		background-size: contain;
		width: 13px;
		height: 12px;
		margin-top: -6px;
	}

	.footer__socials .main-socials-link{
		width: 20px;
		height: 20px;
	}

	.footer__socials .main-socials-link + .main-socials-link{
		margin-left: 8px;
	}

	.footer__socials .main-socials-link._socials-prohibited:after{
		width: 6px;
		height: 6px;
		background-size: contain;
		left: -10px;
	}

	.footer__socials .main-socials{
		padding-left: 10px;
	}

	.footer__socials-desc{
		margin-top: 8px;
	}
}