@media (max-width: 1319px)
{
	.header
	{
		padding-top: 25px;
		padding-bottom: 40px;

		font-size: 16px;
	}

	.nav-menu__item
	{
		font-size: 18px;
	}

	.nav-menu__item + .nav-menu__item 
	{
        margin-left: 90px;
    }


	.first-section__wrap
	{
		padding-top: 70px;
		max-width: 500px;
	}

	.first-section__img 
	{
        right: -100px;
    }

	.first-section__title
	{
		font-size: 50px;
	}

	.first-section__sub-title
	{
		font-size: 22px;
		margin-top: 40px;
	}

	.first-section__btn
	{
		margin-top: 30px;
	}


	.services__box
	{
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.services__name 
	{
        font-size: 26px;
    }


	.section-discount__btn
	{
		margin-top: 30px;
	}

	.section-discount__other
	{
		margin-top: 50px;
	}

	.section-discount__other-link
	{
		font-size: 40px;
	}

	.section-discount__note
	{
		font-size: 18px;
	}


	.adventures__grid 
	{
		column-gap: 30px;
	}

	.adventures__info 
	{
		width: calc(100% - 90px);
	}

	.adventures__name 
	{
		font-size: 22px;
	}
	/*------------
		commit
	------------*/
	.main-title{
		font-size: 40px;
	}

	.slider-button-prev,
	.slider-button-next{
		width: 28px;
		height: 28px;
		margin-top: -15px;
	}

	.slider-button-prev svg,
	.slider-button-next svg {
		width: 9px;
		height: 12px;
		stroke-width: 2px;
	}

	.swiper_pad{
		padding-left: 47px;
		padding-right: 47px;
	}


	.section-map{
		height: 300px;
	}

	.text-block h1,
	.text-block .title
	{
		font-size: 40px;
	}

	.text-block h2
	{
		font-size: 28px;
	}

	.small-title{
		font-size: 28px;
	}


	.price-list__title {
		font-size: 24px;
		margin-bottom: 0;
	}

	.price-list__table td{
		font-size: 16px;
		padding-top: 20px;
	}
}