@media (max-width: 1023px)
{
	.header
	{
		position: fixed;
		z-index: 101;
		top: 0;
		left: -270px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		overflow-y: auto;
		width: 270px;
		height: 100%;
		margin: 0;
		padding: 0;
		transition: left .3s linear;
	}

	.header._show 
	{
		left: 0;
	}

	.header-mob
	{
		display: block;
	}
	
	.mob-menu-link
	{
		position: relative;
		display: block;
		width: 44px;
		height: 36px;
		margin-right: -10px;
		margin-left: 10px;
		padding: 9px 10px;
		cursor: pointer;
		border: none;
		background: none;
	}

	.mob-menu-link span 
	{
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		transition: .2s linear;
		background: #D8B75A;
	}

	.mob-menu-link span + span 
	{
		margin-top: 6px;
	}

	.header .cont
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.header .cont:first-child
	{
		order: 2;
	}

	.header__top
	{
		gap: 0;
		flex-wrap: wrap;
	}

	.header__adres
	{
		width: 100%;
		order: 3;

		margin-top: 20px;
	}

	.header__time
	{
		width: 100%;
		order: 2;

		margin-top: 25px;
	}

	.header__time::after 
	{
		top: 3px;
		width: 16px;
		height: 16px;
	}

	.header__modal-btn
	{
		width: 100%;
		order: 5;
		margin-top: 20px;
	}

	.header__phone
	{
		width: 100%;
		order: 1;
	}

	.header__phone a::after 
	{
		width: 16px;
		height: 17px;
	}

	.header__socials-box
	{
		order: 4;
		margin-top: 40px;
	}

	.header__wrap
	{
		display: block;
		padding-bottom: 44px;
		margin-top: 15px;
	}

	.header__logo
	{
		display: none;
	}

	.header__info
	{
		padding-left: 0;
		padding-top: 0;
		margin-left: 0;
		width: 180px;
	}

	.nav-menu
	{
		display: block;
	}

	.nav-menu__item
	{
		font-size: 16px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 0;
		margin-top: 10px;
	}

	.nav-menu__item > a
	{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-menu__sub-link
	{
		position: relative;
	}

	.nav-menu__sub-link::after
	{
		position: absolute;
		content: '';
		top: 10px;
		right: 0;

		display: block;

		width: 8px;
		height: 12px;

		background: url(../images/ic_arrow_mob.svg) 50% no-repeat;
	}

	.nav-menu__sub-menu
	{
		left: 0;
		top: 0;
		width: 100%;
		position: static;
		opacity: 1;
		visibility: visible;
		display: none;
		transition: none;
		padding: 10px 0;
		pointer-events: all;

		font-size: 14px;
	}


	.nav-menu__item-mob .nav-menu__sub-link
	{	
		display: none;
	}

	.nav-menu__item-mob .nav-menu__sub-menu
	{
		display: block;
		padding: 0;
		font-size: 16px;
	}

	.nav-menu__item-mob .nav-menu__sub-menu a
	{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.nav-menu__sub-menu div + div
	{
		margin-top: 10px;
	}


	.header__modal-sign
	{
		display: none;
	}

	.header__mob-sign
	{
		display: block;
		order: 7;
	}


	.first-section__wrap
	{
		padding-top: 50px;
		padding-bottom: 50px;

		max-width: 60%;
	}

	.first-section__info 
	{
		max-width: 380px;
	}

	.first-section__title 
	{
		font-size: 32px;
	}

	.first-section__sub-title 
	{
		font-size: 16px;
		margin-top: 20px;
	}

	.first-section__btn .btn-gold 
	{
		line-height: 47px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.first-section__img 
	{
		right: -120px;
		padding-top: 50px;
	}


	.btn-gold
	{
		font-size: 16px;
		padding-left: 25px;
		padding-right: 25px;
	}


	.services
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.services__grid 
	{
        margin-top: 8px;
		margin-left: -16px;
    }

	.services__item 
	{
		padding: 15px;
		min-height: 166px;

		width: calc(100% / 3 - 16px);
		margin-top: 16px;
		margin-left: 16px;
		border-radius: 10px;
	}

	.services__name 
	{
		font-size: 16px;
	}

	.services__go-service span 
	{
		font-size: 14px;
		line-height: 28px;
		padding: 0 15px;
	}


	.adventures
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.adventures__grid 
	{
		column-gap: 16px;
	}

	.adventures__item + .adventures__item 
	{
		margin-top: 40px;
	}

	.adventures__item
	{
		text-align: center;
	}

	.adventures__icon
	{
		margin: 0 auto;
	}

	.adventures__info
	{
		width: 100%;
		margin-top: 12px;
	}

	.adventures__name 
	{
		font-size: 18px;
	}


	.section-discount
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section-discount__other-link
	{
		font-size: 24px;
		padding-right: 40px;
	}

	.section-discount__other-link::after
	{
		width: 30px;
		height: 31px;
	}

	.section-discount__note 
	{
		font-size: 14px;
	}
    /*------------
		commit
	------------*/
	.breadcrumbs{
		padding: 20px 0;
	}

	.cont_slider{
		padding-left: 13px;
		padding-right: 13px;
	}

	.main-title {
		font-size: 24px;
	}

	.section-compare_pad{
		padding: 50px 0;
	}

	.section-compare__grid{
		margin-top: 26px;
		gap: 16px 0;
		margin-left: -16px;
	}

	.section-compare__item {
		width: calc(100% / 4 - 16px);
		border-radius: 10px;
		margin-left: 16px;
	}


	.main-gallery_pad{
		padding-bottom: 50px;
	}

	.main-gallery__slider{
		margin-top: 26px;
	}

	.main-gallery__flex{
		gap: 16px;
	}

	.main-gallery__img{
		border-radius: 10px;
	}

	.main-gallery__flex .main-gallery__img {
		width: calc(50% - 8px);
	}

	.section-map {
		height: 200px;
	}


	.section-top{
		padding: 50px 0;
	}

	
	.salon-manager{
		padding: 50px 0;
	}

	.salon-manager__cols{
		gap: 20px;
	}

	.salon-manager__photo{
		border-radius: 10px;
	}

	.salon-manager__colr {
		width: calc(45% - 20px);
	}


	body{
		font-size: 14px;
		line-height: 1.5;
	}


	.text-block p{
		margin-bottom: 20px;
	}


	.section-divider{
		height: auto;
		aspect-ratio: 1/.147;
	}


	.gallery-salon{
		padding: 50px 0;
	}

	.gallery-salon__photo{
		border-radius: 10px;
	}


	.gallery-salon__slider{
		margin-top: 26px;
	}


	.about{
		padding: 50px 0;
	}

	.about__coll {
    	width: calc(50% - 20px);
	}

	.about__colr{
		width: 50%;
	}

	.about__img{
		border-radius: 10px;
	}


	.footer{
		padding: 30px 0;
	}

	.footer__logo{
		display: none;
	}

	.footer__logo_mob{
		display: block;
		width: 94px;
	}

	.footer__contacts-flex{
		flex-wrap: wrap;
		gap: 28px 16px;
		align-content: center;
		align-items: center;
	}

	.footer__contacts-items{
		width: 100%;
	}
}