@media (max-width: 479px)
{
	
    /*------------
		commit
	------------*/
	.slider-pagination{
		display: flex;
	}

	.section-compare .cont{
		padding-left: 5px;
		padding-right: 5px;
	}

	.section-compare .main-title{
		padding-left: 24px;
		padding-right: 24px;
	}

	.section-compare__grid {
		gap: 20px 0;
		margin-left: -10px;
	}

	.section-compare__item {
		width: calc(100% / 2 - 10px);
		border-radius: 5px;
		margin-left: 10px;
	}

	.main-gallery__img {
		border-radius: 5px;
	}


	.section-map{
		height: 120px;
	}


	body{
		font-size: 12px;
	}


	.gallery-salon__slider{
		margin-top: 21px;
	}


	.section-faq__item + .section-faq__item{
		margin-top: 10px;
	}

	.our-visiters .cont{
		padding-left: 5px;
		padding-right: 5px;
	}

	.our-visiters .main-title{
		padding-left: 24px;
		padding-right: 24px;
	}

	.our-visiters__grid {
		gap: 10px 0;
		margin-left: -10px;
	}

	.our-visiters__photo {
		margin-left: 10px;
		width: calc(100% / 2 - 10px);
	}


	.error-page__box{
		max-width: 260px;
	}


	.stages__item{
		padding: 0 23px;
		align-items: flex-start;
		align-content: flex-start;
	}

	.stages__number {
		min-width: 34px;
		font-size: 46px;
		line-height: normal;
		padding-bottom: 0;
	}

	.stages__box{
		padding: 12px 0 18px;
	}

	.stages__title{
		font-size: 16px;
	}

	.stages__desc{
		line-height: 1.3;
		font-weight: 500;
		margin-top: 16px;
	}

	.price-list__grid {
        margin-top: 15px;
        row-gap: 10px;
    }

	.price-list__title{
		font-size: 15px;
	}

	.price-list__table td{
		padding-top: 10px;
		font-size: 12px;
	}


	.footer__menu-item{
		font-size: 12px;
	}

	.footer__title{
		font-size: 12px;
	}

	.footer__adres{
		font-size: 12px;
	}

	.footer__contacts-item{
		font-size: 12px;
	}

	.footer__socials{
		width: 118px;
	}

	.footer__socials-desc{
		font-size: 10px;
	}

	.footer__socials .main-socials-link{
		width: 17px;
		height: 17px;
	}
}