
/* For old browsers */
@supports (not(--css: variables))
{
    .supports-error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports-error
    {
        display: flex !important;
    }
}


/*------------------------
    Fonts
------------------------*/
@font-face
{
    font-family: "Commissioner";
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/Commissioner-Regular.woff") format("woff"),
    url("../fonts/Commissioner-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Commissioner";
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/Commissioner-Medium.woff") format("woff"),
    url("../fonts/Commissioner-Medium.ttf") format("truetype");
}

@font-face
{
    font-family: "Commissioner";
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/Commissioner-SemiBold.woff") format("woff"),
    url("../fonts/Commissioner-SemiBold.ttf") format("truetype");
}

@font-face
{
    font-family: "TenorSans";
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url("../fonts/TenorSans.woff") format("woff"),
    url("../fonts/TenorSans.ttf") format("truetype");
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
    text-decoration-skip: objects;
    text-rendering: optimizeLegibility;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --font-family: "Commissioner", sans-serif;
	--font-family2: "TenorSans", sans-serif;

    --scroll_width: 10px;
}


.clear
{
    clear: both;
}


.left
{
    float: left;
}


.right
{
    float: right;
}


html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    scrollbar-width: thin;
}

/* @media (min-width: 1025px)
{
    html ::-webkit-scrollbar
    {
        width: 9px;
        height: 9px;

        background-color: transparent;
		border-radius: 9px;
    }

    html ::-webkit-scrollbar-thumb
    {
        background-color: #BFBFBF;
		border-radius: 9px;
    }
} */

body
{
    color: #464549;
    font: 18px/1.55 var(--font-family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    background: #fff;
}

._lock-add
{
    overflow: hidden;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;
}

.main
{
    flex: 1 0 auto;
}


.cont
{
    position: relative;

    width: 100%;
    max-width: 1578px;
    margin: 0 auto;
    padding: 0 29px;
}

.cont_slider{
    max-width: 1846px;
}


.lazyload
{
    opacity: 0;

    transition: opacity .5s linear;
}

.lazyload.loaded
{
    opacity: 1;
}


._flex
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


.supports-error
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;

    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #FFF;
}

.supports-error.show
{
    display: flex;
}

/*------------
    mini-modal
------------*/
.mini-modal
{
    position: relative;
}

.mini-modal__modal
{
    position: absolute;
    z-index: 80;
    top: calc(100% + 10px);
    left: 0;

    visibility: hidden;

    pointer-events: none;

    opacity: 0;

    transition: opacity .2s linear, visibility .2s linear;
}

.mini-modal__modal._active
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}

.mini-modal__close
{
    display: none;
}


/*------------
    Header
------------*/

.header
{
    background: #706559;
	padding: 32px 0 65px;
	color: #F7EEE3;
}

.header__wrap
{
	flex-wrap: nowrap;
	margin-top: 23px;
}

.header__logo
{
	width: 100%;
	max-width: 210px;
}

.header__logo a
{
    display: block;
	text-decoration: none;
}

.header__logo img 
{
    display: block;
	max-width: 100%;
}

.header__info
{
	margin-left: 47px;
	padding-top: 32px;

	width: 100%;
}

.header__top
{
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 0 20px;
	flex-wrap: nowrap;
	max-width: 1264px;
	margin-left: auto;
}

.header__adres
{
	position: relative;
	padding-left: 26px;
}

.header__adres::after
{
	position: absolute;
	content: '';
	top: 3px;
	left: 0;

	display: block;

	width: 15px;
	height: 21px;

	background: url(../images/ic_marker.svg) 50%/contain no-repeat;
}

.br-mob
{
	display: none;
}

.header__time
{
	position: relative;
	padding-left: 36px;
}

.header__time::after
{
	position: absolute;
	content: '';
	top: 3px;
	left: 0;

	display: block;

	width: 21px;
	height: 21px;

	background: url(../images/ic_clock.svg) 50%/contain no-repeat;
}

.header__btn-entry
{
	border-bottom: 1px solid transparent;
	transition: border .2s linear;
}

@media (any-hover: hover)
{
	.header__btn-entry:hover
	{
		border-color: #F7EEE3;
	}
}

.header__phone
{
	white-space: nowrap;
}

.header__phone a
{
	display: block;
	text-decoration: none;
	color: #F7EEE3;
	position: relative;
	padding-left: 31px;
}

.header__phone a::after
{
	position: absolute;
	content: '';
	top: 3px;
	left: 0;

	display: block;

	width: 20px;
	height: 21px;

	background: url(../images/ic_tel.svg) 50%/contain no-repeat;
}

.header__socials-box{
	padding-left: 15px;
}

.main-socials 
{
	position: relative;
	flex-wrap: nowrap;
}

.main-socials-link + .main-socials-link 
{
	margin-left: 15px;
}

.main-socials-link 
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 28px;
    height: 28px;
	position: relative;

	opacity: 1;
	transition: opacity .2s linear;
}

.main-socials-link img 
{
    display: block;
    width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-socials-link._socials-prohibited:after
{
	position: absolute;
	content: '';
	top: 0;
	left: -15px;

	display: block;

	width: 11px;
	height: 11px;

	background: url(../images/ic_star_soc.svg) 50%/contain no-repeat;
}

@media (any-hover: hover)
{
	.main-socials-link:hover
	{
		opacity: .8;
	}
}

.main-socials-link._mob-show
{
	display: none;
}

.nav-menu
{
	justify-content: center;
}

.nav-menu__item
{
	position: relative;
	font-size: 20px;
	line-height: normal;
}

.nav-menu__item + .nav-menu__item
{
	margin-left: 117px;
}

.nav-menu__item a
{
	text-decoration: none;
	
	color: #F7EEE3;

	transition: color .2s linear;
}

.nav-menu__sub-link
{
	position: relative;
}

.nav-menu__item .nav-menu__sub-link:before 
{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    height: 12px;
}

.nav-menu__sub-menu 
{
    position: absolute;
    z-index: 99;
    top: calc(100% + 10px);
    left: -20px;
    visibility: hidden;
    width: 220px;
    transition: .2s linear;
    pointer-events: none;
    opacity: 0;

	font-size: 15px;
	line-height: normal;
	background: #706559;
	padding: 6px 20px 20px;
}

.nav-menu__sub-menu div + div
{
	margin-top: 12px;
}

@media (any-hover: hover)
{
    .nav-menu__item a:hover
	{
		color: #D8B75A;
	}

	.nav-menu__item:hover .nav-menu__sub-menu 
	{
		top: 100%;
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}

	.nav-menu__item:hover .nav-menu__sub-link:before 
	{
		display: block;
	}
}


.header__modal-sign
{
	margin-top: 62px;
	text-align: center;
}

.header__mob-sign
{
	display: none;
	margin-top: 13px;
	width: 100%;
}

.header__mob-sign .btn-gold
{
	font-size: 14px;
	line-height: 40px;
	padding-left: 25px;
	padding-right: 25px;
}


.header-mob
{
	display: none;

	background: #706559;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-mob .cont
{
	justify-content: space-between;
	align-items: center;
	align-content: center;
}


.header-mob__logo a
{
	display: block;
	height: 58px;
}

.header-mob__logo img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
}


.header-mob__socials-box
{
	margin-left: auto;
}


.close-menu 
{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 270px;
    display: none;
    width: 50px;
    height: 50px;
    padding: 13px;
    cursor: pointer;
    border: none;
    background: none;
}

.close-menu span 
{
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #706559;
}

.close-menu span:nth-child(1) 
{
    top: 1px;
    transform: rotate(45deg);
}

.close-menu span:nth-child(2) 
{
    top: -1px;
    transform: rotate(-45deg);
}

.overlay 
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
}
/*------------
    BTNS
------------*/
.wrap-btn
{
    
}

.btn-gold
{
    position: relative;

    color: #464549;
    font-size: 20px;
    font-weight: 500;
    line-height: 47px;

    display: inline-block;

    padding: 0 34px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    border-radius: 50px;
    background: linear-gradient(to right, rgba(242,218,150,1) 0%,rgba(216,183,90,1) 50%,rgba(242,218,150,1) 100%);
	background-size: 200% auto;
    background-position: 0 center;

    transition: background .2s linear;
}


@media (any-hover: hover)
{
    .btn-gold:hover
    {
        background-position: 100% center;
    }
}

/*------------
    breadcrumbs
------------*/
.breadcrumbs
{
	padding: 32px 0;
	color: #D8B75A;
}

.breadcrumbs_sep{
	color: #706559;
}

.breadcrumbs a
{
    color: #706559;

    text-decoration: none;

    border-bottom: 1px solid transparent;

    transition: color .2s linear, border .2s linear;
}

@media (any-hover: hover)
{
    .breadcrumbs a:hover
    {
        color: #D8B75A;

        border-bottom-color: currentColor;
    }
}



/*----------------
    Typography
----------------*/
.text-block > :last-child,
.text-block__box > :last-child
{
    margin-bottom: 0 !important;
}

.text-block_w
{
	max-width: 814px;
}

.text-block h1,
.text-block .title
{
    font-family: var(--font-family2);
	font-size: 50px;
	font-weight: 400;
	line-height: 1.3;
	color: #846948;

    margin-bottom: 16px;
}

.text-block h2
{
    font-family: var(--font-family2);
	font-weight: 400;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.06em;
	color: #846948;

    margin-bottom: 16px;
}

.text-block p
{
    margin-bottom: 28px;
}

.text-block p b{
	font-weight: 500;
	color: #846948;
}

.text-block .brown{
	color: #846948;
}

.text-block img
{
    display: block;

    max-width: 100%;
    margin-bottom: 20px;

    border-radius: 6px;
}

.text-block a
{
    color: #363B3F;

    text-decoration: none;

    border-bottom: 1px solid;

    transition: border .2s linear;
}

@media (any-hover: hover)
{
    .text-block a:hover
    {
        border-color: transparent;
    }
}

.text-block h2 + ul,
.text-block h3 + ul,
.text-block h4 + ul,
.text-block h2 + ol,
.text-block h3 + ol,
.text-block h4 + ol
{
	margin-top: -10px;
}

.text-block ul
{
    margin-left: 26px;
}

.text-block p + ul
{
    margin-top: -16px;
}

.text-block ol
{
    margin-left: 22px;
	margin-bottom: 20px;
}

.text-block p + ol
{
    margin-top: -16px;
}


/*------------------
    Form elements
------------------*/
::-webkit-input-placeholder
{
    color: #464549;

    opacity: 1;
}

::-moz-placeholder
{
    color: #464549;

    opacity: 1;
}

:-moz-placeholder
{
    color: #464549;

    opacity: 1;
}

:-ms-input-placeholder
{
    color: #464549;

    opacity: 1;
}


.form__small-title{
	margin-bottom: 16px;
}

.form__flex
{
    justify-content: space-between;
}

.form__flex .form__line
{
    width: calc(50% - 15px);
	max-width: 385px;
}

.form__line
{
    margin-bottom: 35px;
}

.form__field
{
    position: relative;
}

.form .form__input
{
    color: #464549;
    font: 14px/1.33 var(--font-family);

    display: block;

    width: 100%;
    height: 35px;
    padding: 0 15px;

    border: 1px solid #F7EEE3;
    border-radius: 5px;
    background: #F7EEE3;

    transition: border .2s linear;
}

.form .form__textarea
{
    color: #464549;
    font: 14px/1.33 var(--font-family);

    display: block;

    width: 100%;
    height: 162px;
    padding: 13px 15px;

    border: 1px solid #F7EEE3;
    border-radius: 5px;
    background: #F7EEE3;
	resize: none;

    transition: border .2s linear;
}


.form .form__textarea.error,
.form .form__input.error{
	border-color: #F52121 !important;
}

.form .form__input:disabled,
.form .form__textarea:disabled
{
    cursor: default;
    pointer-events: none;

    opacity: .7;
}

.error-text
{
    color: #F52121;
    font-size: 12px;
	line-height: 1.3;

    margin-top: 6px;
}

.form__submit{
	text-align: center;
}



/*---------------
	Page head
---------------*/
.section-top{
	padding: 80px 0;
}

.main-title
{
	font-family: var(--font-family2);
	font-size: 50px;
	font-weight: 400;
	line-height: 1.3;
	color: #846948;
	text-align: center;
}

.main-title_upper{
	text-transform: uppercase;
}

.main-title_gold
{
	color: #D8B75A;
}

.small-title{
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.06em;
	color: #846948;
}

/*--------------
    Fancybox
--------------*/
.compensate-for-scrollbar
{
    padding-right: var(--scroll_width) !important;
}

.fancybox__backdrop
{
    background: rgba(0, 0, 0, .6);
}

.fancybox__content
{
    color: #282828;
}

.fancybox__slide
{
    padding: 16px;
}

.fancybox__slide.has-video
{
    padding-top: 60px;
}

html.with-fancybox{
	overflow: hidden;
}

.carousel__button.is-prev,
.carousel__button.is-next{
	top: 0;
	transform: none;
	height: 50%;
	top: 0;
	height: 100%;
	width: 20%;
}

.fancybox__nav .carousel__button.is-prev{
	left: 0;
	text-align: left;
	justify-content: flex-start;
	padding-left: 40px;
}

.fancybox__nav .carousel__button.is-next{
	right: 0;
	text-align: right;
	justify-content: flex-end;
	padding-right: 40px;
}

.fancybox__content > .carousel__button.is-close
{
    top: 25px;
    right: 25px;

    color: #282828;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 21px;
    height: 21px;
    padding: 0;

    border: none;
    outline: none;
    background: none;
    box-shadow: none;

    transition: transform .2s linear, color .2s linear;
}

@media (any-hover: hover)
{
    .fancybox__content > .carousel__button.is-close:hover
    {
        color: #00684D;
    }
}

.fancybox__content > .carousel__button.is-close svg
{
    width: 17px;
    height: 17px;

    outline: none !important;

    fill: none;
    filter: none;
    stroke: currentColor;
    stroke-width: 1px;
}

.has-video .fancybox__content > .carousel__button.is-close
{
    top: -26px;
    right: 0;

    color: #FFF;
}

.fancybox__content :focus
{
    outline: none !important;
    box-shadow: none !important;
}

.fancybox__button--thumbs,
.fancybox__button--zoom
{
    display: none;
}

.fancybox__thumbs
{
    display: none;
}



/*------------------------
	Slider controls
------------------------*/
.swiper
{
    position: relative;

    margin-right: 0;
    margin-left: 0;
}

.swiper_visible
{
    overflow: visible;
}

.swiper-overflow
{
    overflow: hidden;
}

.swiper-wrapper
{
    height: auto;
}

.swiper-vertical > .swiper-wrapper
{
    height: 100%;
}

.slider-button-prev,
.slider-button-next
{
    position: absolute;
    z-index: 10;
    top: 50%;

    color: #fff;

    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 74px;
    height: 74px;
    margin-top: -37px;

    cursor: pointer;

    border: none;
    border-radius: 50%;
    background: #706559;

    transition: color .2s linear, background .2s linear;
}


@media (any-hover: hover)
{
    .slider-button-prev:hover,
    .slider-button-next:hover
    {
        z-index: 11;

        background-color: #E5C979;
		color: #464549;
        box-shadow: none;
    }
}

.slider-button-prev svg,
.slider-button-next svg
{
    display: block;

    width: 27px;
    height: 34px;
	stroke-width: 5px;

    fill: none;
    stroke: currentColor;
}

.slider-button-prev
{
    left: 0;

    transform: rotate(180deg);
}

.slider-button-next
{
    right: 0;
}

.slider-button-prev.swiper-button-disabled,
.slider-button-next.swiper-button-disabled
{
    cursor: default;
    pointer-events: none;

    opacity: 0;
}

.swiper-button-lock
{
    display: none;
}

.slider-pagination
{
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 0;

    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 0;

    text-align: center;

    transition: 300ms opacity, 300ms visibility;
}

.slider-pagination._bot{
	position: relative;
	bottom: 0;
	margin-top: 11px;
}

.slider-pagination.swiper-pagination-lock
{
    display: none !important;
}

.slider-dot
{
    position: relative;

    display: block;

    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;

    border-radius: 10px;
    background: rgba(70, 69, 73, 0.5);
    box-shadow: none;

    transition: background .2s linear, height .2s linear, width .2s linear;

    appearance: none;
}

.slider-dot + .slider-dot
{
    margin-left: 7px;
}

.slider-pagination-clickable .slider-dot
{
    cursor: pointer;
}

@media (any-hover: hover)
{
    .slider-dot:hover
    {
        background: #464549;
    }
}

.slider-dot.slider-dot_active
{
    background: #464549;
}

.swiper-scrollbar
{
    display: none;

    transition: opacity 0s .1s linear;
}

.swiper-scrollbar._hide
{
    opacity: 0;

    transition-delay: .3s;
    transition-duration: .3s;
}

.swiper .swiper-scrollbar
{
    position: relative;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 5px;
    margin-top: 10px;

    background: #F5F5F5;
}

.swiper .swiper-scrollbar-drag
{
    background: #E5E5E5;
}



._marg
{
    
}

/*------------------------
	Start
------------------------*/

.first-section
{
	position: relative;
}

.first-section__img
{
	position: absolute;
	bottom: 0;
	right: 0;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;

	height: 100%;

	padding-top: 37px;
}

.first-section__img img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.first-section__wrap
{
	max-width: 788px;
	width: 100%;
	padding: 82px 0 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.first-section__info
{
	max-width: 540px;
}

.first-section__title
{
	color: #846948;
	font-family: var(--font-family2);
	text-align: center;
	font-size: 54px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.first-section__sub-title
{
	margin-top: 55px;
	text-align: center;
	font-size: 25px;
	line-height: normal;
	font-weight: 500;
}

.first-section__btn
{
	margin-top: 45px;
	text-align: center;
}

.first-section__btn .btn-gold
{
	line-height: 55px;
	padding-left: 50px;
	padding-right: 50px;
}

/*------------
    services
------------*/

.services
{
	position: relative;
	padding: 60px 0 50px;
}

.services__bg
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;
}

.services__bg::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, .5);
	z-index: 1;
}

.services__bg img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.services .cont
{
	position: relative;
	z-index: 2;
}

.services__grid
{
	align-items: stretch;
	align-content: stretch;
	margin: 36px 0 0 -20px;
}

.services__item
{
	width: calc(100%/3 - 20px);
	margin: 24px 0 0 20px;

	display: block;

	text-decoration: none;
	position: relative;
	background: #fff;
	border-radius: 20px;
	overflow: hidden;

	color: #464549;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .15);
}

.services__img
{
	display: block;

	width: 100%;
    aspect-ratio: 493 / 361;
}

.services__box
{
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 45px 40px 54px;
}

.services__name
{
	font-size: 30px;
	line-height: 1.13;
	font-weight: 600;
	flex: 1 0 auto;
	letter-spacing: 0.06em;
}

.services__go-service
{
	margin-top: 20px;
}

.services__go-service span
{
    font-size: 20px;
    font-weight: 500;
    line-height: 41px;

    display: inline-block;

    padding: 0 36px;

    text-align: center;
    vertical-align: top;

    border-radius: 999px;
	background: linear-gradient(to right, rgba(242,218,150,1) 0%,rgba(216,183,90,1) 50%,rgba(242,218,150,1) 100%);
	background-size: 200% auto;
    background-position: 0 center;

    transition: background .2s linear;
}


@media (any-hover: hover)
{
    .services__item:hover .services__go-service span
    {
        background-position: 100% center;
    }
}


/*------------
    commit
------------*/

.adventures
{
	padding: 40px 0 100px;
}

.adventures__grid
{
    columns: 2;
    column-gap: 100px;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.adventures__item
{
    break-inside: avoid;
	padding-top: 70px;
}

.adventures__icon
{
	width: 65px;
	height: 53px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

	margin-top: 6px;
}

.adventures__icon img
{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.adventures__info
{
	width: calc(100% - 105px);
	margin-left: auto;
}

.adventures__name
{
	font-size: 25px;
	line-height: normal;
	font-weight: 500;
}

.adventures__desc
{
	margin-top: 3px;
}


/*------------
    section-discount
------------*/

.section-discount
{
	padding: 75px 0;
	background: #706559;
	text-align: center;
}

.section-discount__btn
{
	margin-top: 50px;
}

.section-discount__other
{
	margin-top: 70px;
}

.section-discount__other-link
{
	font-family: var(--font-family2);
	font-size: 50px;
	line-height: 1.3;
	color: #D8B75A;

	text-decoration: none;
	position: relative;

	padding-right: 70px;
}

.section-discount__other-link::after
{
	position: absolute;
	content: '';
	top: 0;
	right: 0;

	display: block;

	width: 50px;
	height: 51px;

	background: url(../images/ic_gift.svg) 50%/contain no-repeat;
}

.section-discount__other-link span
{
	border-bottom: 1px solid #D8B75A;
	transition: border .2s linear;
}

@media (any-hover: hover)
{
	.section-discount__other-link:hover span
	{
		border-color: transparent;
	}
}

.section-discount__note
{
	margin-top: 23px;
	font-size: 20px;
	line-height: normal;
	color: #F7EEE3;
}

/*------------
    commit
------------*/
.sector-bg{
	background: url(../images/bg_1.jpg) top center/100% auto repeat-y;
}

.section-compare_pad{
	padding: 76px 0;
}

.section-compare__grid{
	margin-top: 84px;
	gap: 20px 0;
	margin-left: -20px;
}

.section-compare__item{
	display: block;
	width: calc(100%/4 - 20px);
	text-decoration: none;
	overflow: hidden;
	border-radius: 20px;
	margin-left: 20px;
}

.section-compare__item img{
	display: block;
	width: 100%;
	aspect-ratio: 1;
}

.main-gallery_pad{
	padding-bottom: 90px;
}

.main-gallery__slider{
	margin-top: 84px;
}

.swiper_pad{
	padding-left: 134px;
	padding-right: 134px;
}

.main-gallery .swiper-slide{
	height: auto;
}

.main-gallery__flex{
	min-height: 100%;
	gap: 20px;
	align-items: stretch;
	align-content: stretch;
}

.main-gallery__img{
	min-height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	border-radius: 20px;
	text-decoration: none;
	aspect-ratio: 1/1.1;
}

.main-gallery__img img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-gallery__flex .main-gallery__img{
	width: calc(50% - 10px);
	min-height: 1px;
}

.section-map{
	height: 417px;
}

.section-divider{
	height: 226px;
	position: relative;
}

.section-divider::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, .5);
	z-index: 1;
}

.section-divider img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}


.salon-manager{
	padding: 90px 0;
}

.salon-manager__cols{
	justify-content: space-between;
	gap: 30px;
}

.salon-manager__coll{
	width: 55%;
	max-width: 787px;
}

.salon-manager__colr{
	width: calc(45% - 30px);
	max-width: 622px;
}

.salon-manager__photo{
	display: block;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	aspect-ratio: 1/1.175;
}

.gallery-salon{
	padding: 76px 0;
}

.gallery-salon__slider{
	margin-top: 84px;
}

.gallery-salon__photo{
	display: block;
	aspect-ratio: 1/.7;
	border-radius: 20px;
	overflow: hidden;
	width: 100%;
	text-decoration: none;
}

.gallery-salon__photo img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.about{
	position: relative;
	padding: 100px 0;
}

.about .cont{
	position: static;
}

.about__bg
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;
}

.about__bg::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, .6);
	z-index: 1;
}

.about__bg img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.about__cols{
	justify-content: space-between;
}

.about__coll{
	width: calc(46% - 30px);
	max-width: 648px;
	align-self: center;
	position: relative;
	z-index: 2;
}

.about__colr{
	width: 54%;
	max-width: 750px;
}

.about__img{
	display: block;
	width: 100%;
	border-radius: 20px;
	position: relative;
	z-index: 2;
}


.section-banner img{
	display: block;
	width: 100%;
}


.section-faq{
	padding: 87px 0 68px;
}

.section-faq__item + .section-faq__item{
	margin-top: 27px;
}

.section-faq__item h2{
	max-width: 1114px;
}


.section-form__wrap{
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;
	padding-right: 459px;
	min-height: 445px;
	padding-bottom: 40px;
}

.section-form__wrap .form{
	max-width: 898px;
	width: 100%;
}

.form__img{
	position: absolute;
	bottom: 0;
	right: -66px;
	width: 495px;
	height: 441px;
	object-fit: cover;
}


.our-visiters_pad{
	padding-bottom: 86px;
}

.our-visiters_marg{
	margin-top: -8px;
}

.our-visiters__grid{
	gap: 20px 0;
	margin-left: -20px;
}

.our-visiters__photo{
	margin-left: 20px;
	width: calc(100%/4 - 20px);
	display: block;
	border-radius: 20px;
	overflow: hidden;
	text-decoration: none;
}

.our-visiters__photo img{
	display: block;
	width: 100%;
	aspect-ratio: 1/1.0959;
	object-fit: cover;
}


.error-page{
	padding-top: 87px;
	position: relative;
}

.error-page__bg{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;
}

.error-page__bg::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, .5);
	z-index: 1;
}

.error-page__bg img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.error-page__box{
	position: relative;
	z-index: 2;
	max-width: 730px;
	box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.15);
	background: #fff;
	border-radius: 20px;
	padding: 48px 20px;
	margin: 0 auto;
}

.error-page__title{
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 266px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-align: center;
	color: #846948;
}

.error-page__desc{
	font-weight: 600;
	font-size: 30px;
	line-height: 1.13;
	letter-spacing: 0.06em;
	text-align: center;
	color: #846948;
	margin-top: 13px;
}

.error-page__img{
	display: block;
	width: 432px;
	margin: 12px auto 0;
	position: relative;
	z-index: 1;
}


.contacts_pad{
	padding-bottom: 90px;
}

.contacts_marg{
	margin-top: -20px;
}

.contacts__cols{
	justify-content: space-between;
	gap: 30px;
}

.contacts__coll{
	width: 55%;
	max-width: 787px;
}

.contacts__item + .contacts__item{
	margin-top: 31px;
}

.contacts__title{
	font-weight: 600;
	font-size: 30px;
	line-height: 1.13;
	letter-spacing: 0.06em;
	color: #846948;
}

.contacts__text{
	margin-top: 17px;

	font-weight: 500;
	font-size: 20px;
	line-height: normal;
	color: #464549;
}

.contacts__colr{
	width: calc(45% - 30px);
	max-width: 622px;
}

.contacts__img{
	display: block;
	width: 100%;
	margin: 0 auto;
	border-radius: 20px;
}

.contacts .main-socials{
	margin-top: 31px;
}

.contacts .main-socials-link{
	width: 38px;
	height: 38px;
}

.contacts .main-socials-link + .main-socials-link{
	margin-left: 28px;
}

.contacts .main-socials-link._socials-prohibited:after{
	background-size: cover;
	width: 15px;
	height: 15px;
	left: -16px;
	top: -9px;
}


.about-service{
	padding: 86px 0;
	background: #F7EEE3;
}

.about-service__cols{
	justify-content: space-between;
}

.about-service__coll{
	max-width: 726px;
	width: 55%;
	align-self: center;
}

.about-service__coll_small{
	max-width: 664px;
}

.about-service__btn{
	text-align: center;
	margin-top: 42px;
}

.about-service__colr{
	max-width: 642px;
	width: calc(45% - 30px);
}

.about-service__img{
	display: block;
	width: 100%;
	margin: 0 auto;
	border-radius: 20px;
}


.stages_pad{
	position: relative;
	padding: 76px 0 100px;
}

.stages__bg{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;
}

.stages__bg::after
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	background: rgba(255, 255, 255, .5);
	z-index: 1;
}

.stages__bg img
{
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.stages .cont{
	z-index: 1;
}

.stages__items{
	margin-top: 84px;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	row-gap: 62px;
}

.stages__item{
	width: calc(50% - 10px);
	max-width: 622px;

	box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.15);
	background: #fff;
	border-radius: 20px;
	min-height: 315px;
	padding: 43px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-wrap: nowrap;
	column-gap: 20px;
}

.stages__number{
	min-width: 90px;
	flex-shrink: 0;

	font-weight: 600;
	font-size: 100px;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #D8B75A;
	padding-bottom: 10px;
}

.stages__desc_small{
	max-width: 332px;
}

.stages__desc_middle{
	max-width: 378px;
}

.stages__title{
	font-weight: 500;
	font-size: 20px;
	color: #846948;
	line-height: normal;
}

.stages__desc{
	margin-top: 24px;
}


.gallery-photo_pad{
	padding: 76px 0 86px;
}

.gallery-photo__slider{
	margin-top: 84px;
}

.gallery-photo__photo{
	display: block;
	overflow: hidden;
	border-radius: 20px;
	width: 100%;
	aspect-ratio: 1/.98264;
}

.gallery-photo__photo img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.price-list_pad{
	padding: 86px 0;
}

.price-list__marg{
	margin-top: 70px;
}

.price-list__grid{
	row-gap: 40px;
	margin-left: -30px;
}

.price-list__grid .price-list__line{
	width: calc(100%/3 - 30px);
	margin-left: 30px;
}

.price-list__title{
	font-family: var(--font-family2);
	font-weight: 400;
	font-size: 34px;
	line-height: 1.18;
	letter-spacing: 0.06em;
	color: #846948;
	margin-bottom: 3px;
}

.price-list__table{
	width: 100%;
	max-width: 412px;
	border-collapse: collapse;
}

.price-list__table td{
	font-weight: 500;
	font-size: 20px;
	color: #000;
	line-height: normal;
	padding-top: 30px;
	padding-right: 16px;
}

.price-list__table .price-list__price{
	color: #846948;
	white-space: nowrap;
	text-align: right;
	padding-right: 0;
}


/*------------
    Footer
------------*/
.footer
{
	background: #706559;
	padding: 56px 0;
}

.footer .cont{
	justify-content: space-between;
	gap: 30px;
}

.footer__logo{
	display: block;
	width: 237px;
}

.footer__logo_mob{
	display: none;
}

.footer__logo img{
	display: block;
	max-width: 100%;
}

.footer__menu-item{
	font-weight: 500;
	font-size: 18px;
	line-height: 2;
	color: #F7EEE3;
}

.footer__menu-item a{
	color: currentColor;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border .2s linear;
}

@media (any-hover: hover){
	.footer__menu-item a:hover{
		border-bottom-color: currentColor;
	}
}

.footer__contacts{
	width: 493px;
}

.footer__title{
	font-weight: 500;
	font-size: 25px;
	color: #F7EEE3;
	line-height: normal;
}

.footer__adres{
	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	color: #F7EEE3;
	margin-top: 3px;
}

.footer__contacts-flex{
	margin-top: 16px;
	justify-content: space-between;
	flex-wrap: nowrap;
	gap: 20px;
}

.footer__contacts-item{
	font-weight: 500;
	font-size: 18px;
	line-height: 1.78;
	color: #F7EEE3;
}

.footer__contacts-item + .footer__contacts-item{
	margin-top: 14px;
}

.footer__contacts-item a{
	color: currentColor;
	text-decoration: none;
	display: inline-block;
	padding-left: 32px;
	position: relative;
}

.footer__contacts-phone::before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 22px;
	height: 18px;
	margin-top: -9px;
	background: url(../images/ic_tel.svg) 50% no-repeat;
}

.footer__contacts-mail::before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 22px;
	height: 18px;
	margin-top: -9px;
	background: url(../images/ic_mail.svg) 50% no-repeat;
}

.footer__socials{
	width: 152px;
	flex-shrink: 0;
}

.footer__socials .main-socials{
	padding-left: 14px;
}

.footer__socials-desc{
	margin-top: 14px;

	font-size: 12px;
	line-height: 1.33;
	color: #F7EEE3;
}


/*------------
    Modal
------------*/
.modal
{
    position: relative;
    z-index: 3;

    display: none;
    visibility: visible !important;

    width: 659px;
    max-width: 100%;
    padding: 50px;

    border-radius: 10px;
    background: #FFF;
}

@media (max-width: 1600px)
{
	
    /*------------
		commit
	------------*/
	.slider-button-prev,
	.slider-button-next{
		width: 50px;
		height: 50px;
		margin-top: -25px;
	}

	.slider-button-prev svg,
	.slider-button-next svg {
		width: 18px;
		height: 24px;
		stroke-width: 3px;
	}

	.swiper_pad{
		padding-left: 80px;
		padding-right: 80px;
	}
}


@media (max-width: 1500px)
{
	
	.services__grid
	{
		margin-top: 16px;
	}

	.section-discount__btn
	{
		margin-top: 40px;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 100px;
	}


	.first-section__img
	{
		right: -40px;
	}

	.first-section__wrap
	{
		max-width: 620px;
	}


	.services__box
	{
		padding: 40px 30px;
	}

	.services__name
	{
		font-size: 28px;
	}
    /*------------
		commit
	------------*/
	.section-compare__grid{
		margin-top: 40px;
	}

	.main-gallery__slider{
		margin-top: 40px;
	}

	.gallery-salon__slider{
		margin-top: 40px;
	}

	.stages__items{
		margin-top: 40px;
		row-gap: 30px;
	}

	.gallery-photo__slider{
		margin-top: 40px;
	}

	.price-list__grid{
		margin-top: 40px;
		row-gap: 30px;
	}
}